<html>
<head>
<title>Mongo Details</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>
<header>
    <div class="profile-page sidebar-collapse">
      <nav class="navbar navbar-expand-lg fixed-top bg-primary" color-on-scroll="400">
        <div class="container">
          <div class="navbar-translate">
            <a class="navbar-brand" href="#" rel="tooltip">Mongo Monitor ( Mon-Mon )</a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
              aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#instance">InstanceInfo</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link smooth-scroll" href="#dbinfo">DBInfo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#userinfo">UserInfo</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link smooth-scroll" href="#throughput">Throughput</a>
                  </li>
                  {% if (hosts!="") %}
              <li class="nav-item">
                <a class="nav-link smooth-scroll" href="#repl">Replication</a>
              </li>
             {% endif %}
            
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
<body>

<div class="section" id="instance">
<button type="button" class="btn btn-info btn-lg btn-block"><b>INSTANCE DETAILS</b></button>
 <table class="table">
  <tr><th scope="row">Instance Name</th><td> {{ instance }}</td></tr>
<tr><th scope="row">Instance Size</th><td> {{ tot_size }} GB </td></tr>
<tr><th scope="row">Version</th><td> {{ version }} </td></tr>
<tr><th scope="row">Up Time</th><td> {{ uptime }} Days </td></tr>
{% if (hosts!="") %}
<tr><th>Instance Type </th><td> Replica Set </td></tr>
<tr><th>Hosts </th><td> {{ hosts }} </td></tr>
<tr><th>Primary</th><td> {{ primary }} </td></tr>

{% else %}
<tr><th>Instance Type </th><td> Standalone </td></tr>

{% endif %}
<tr><th>Connections</th><td> {{ conn }} </td></tr>
</table>
</div>


<div class="section" id="dbinfo">
<button type="button" class="btn btn-info btn-lg btn-block"><b>DATABASE INFO</b></button>
    <table class="table">
     {% for db in final_list %}   
         <tr>  
           {% for item in db %}          
             <td align="center"> {{item}} </td>
           {% endfor %}
        </tr> 
     {% endfor %}     
    </table>
</div>  

     {% if ops_list|length > 5  %}   
  <button type="button" class="btn btn-info btn-lg btn-block"><b>CURRENT ACTIVE OPS</b></button>

    <table class="table">
     {% for ops in ops_list %}   
         <tr>  
           {% for op in ops %}          
             <td> {{op}} </td>
           {% endfor %}
        </tr> 
     {% endfor %}
    
   
    </table>
    {% endif %}
  
<div class="section" id="userinfo">    
<button type="button" class="btn btn-info btn-lg btn-block"><b>USER INFO</b></button>
    <table class="table">
   
     {% for usr in user_list %}     
        <tr>         
             <td> {{usr}} </td>
  
        </tr> 
     {% endfor %}   
    </table>
 </div>
 <br/><br/>
  <div class="section" id="throughput">          
       <button type="button" class="btn btn-info btn-lg btn-block"><b>THROUGHPUT METRICS</b></button>
    <table class="table">
    <tr>
    <td>No. Of Query Requests
    </td>
    <td>No. Of Insert Requests
    </td>
    <td>No. Of Update Requests
    </td>
    <td>No. Of Delete Requests
    </td>
    <td>No. Of Clients with Read in Progress
    </td>
    <td>No. Of Clients with Write in Progress
    </td>
    </tr>
    <tr>
     {% for tput in tput_list %}       
              
             <td align="center"> {{tput}} </td>  
       
     {% endfor %}
   </tr>
    </table>
    </div>
   {% if (hosts!="") %}
    <div class="section" id="repl">
    <button type="button" class="btn btn-info btn-lg btn-block"><b>REPLICATION METRICS</b></button>
    <table  class="table">
    <tr>
    <td>Size of the Oplog(MB)
    </td>
    <td>Oplog Window(secs)
    </td>
    <td>Replication Lag
    </td>
     <td>Replication Head Room(secs)
    </td>
    </tr>
    <tr>
     {% for repl in repl_list %}  
      
              
             <td align="center"> {{repl}} </td>  
       
     {% endfor %}
   </tr>
    </table>
    </div>
{% endif %}

</html>