 <html>
<head>
<title>Mongo Details</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
<div>
<br>
<h3>Mongo Database Instance Details:</h3>
 <table border=2>
  <tr><th>Instance Name</th><td> {{ instance }}</td></tr>
<tr><th>Instance Size</th><td> {{ tot_size }} GB </td></tr>
<tr><th>Version</th><td> {{ version }} </td></tr>
<tr><th>Up Time</th><td> {{ uptime }} Days </td></tr>
{% if (hosts!="") %}
<tr><th>Instance Type </th><td> Replica Set </td></tr>
<tr><th>Hosts </th><td> {{ hosts }} </td></tr>
<tr><th>Primary</th><td> {{ primary }} </td></tr>

{% else %}
<tr><th>Instance Type </th><td> Standalone </td></tr>

{% endif %}
<tr><th>Connections</th><td> {{ conn }} </td></tr>
</table>
<br>
<h3>Database Info:</h3>

    <table border=2>

     {% for db in final_list %}   
         <tr>  
           {% for item in db %}          
             <td> {{item}} </td>
           {% endfor %}
        </tr> 
     {% endfor %}
    
   
    </table>
       
     {% if ops_list|length > 5  %}   
    <h3>Current Active Ops:</h3>

    <table border=2>

     {% for ops in ops_list %}   
         <tr>  
           {% for op in ops %}          
             <td> {{op}} </td>
           {% endfor %}
        </tr> 
     {% endfor %}
    
   
    </table>
    {% endif %}
   <h3>Users Info:</h3>
    <table border=2>
   
     {% for usr in user_list %}     
        <tr>         
             <td> {{usr}} </td>
  
        </tr> 
     {% endfor %}
   
    </table>
</div>    
</body>
</html>