<form method="POST">
<br>
    <center><h3>Enter Your Mongo Instance Details:</h3></center><br><br>
  <table align = "center">
   <tr><th>Mongo URL : </th><td> <input type="text" name="mongourl"></td></tr>
  </table>
 <center><h3>OR</h3></center>
    <table align = "center">
    <tr><th>Hostname : </th><td> <input type="text" name="hostname"></td></tr>
    <tr><td></td></tr>
     <tr><th>Port     :</th><td>  <input type="text" name="port"></td></tr>
      <tr><td></td></tr>
    <tr><th>Username :  </th><td> <input type="text" name="username"></td></tr>
     <tr><td></td></tr>
   <tr><th> Password :  </th><td> <input type="password" name="password"></td></tr>
    <tr><td></td></tr> <tr><td></td></tr>
    <tr><th><input type="submit" value="Submit"></td></tr>
    </table>
</form>